<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reserve.dao.movie-mapper">
	
	<select id="movieInfoData" resultType="Movie">
		SELECT * FROM movieInfo
	</select>
	
	<select id="theaterInfoData" resultType="Theater">
		SELECT * FROM theaterInfo
	</select>
	
</mapper>